
<form class="loginForm" data-ng-show="!loggedInUser" data-ng-model="loggedInUser" data-ng-submit="loginUser()" >
    <input type='text' name='username' id='username' data-ng-model="user.username" placeholder='Username'>
    <input type='password' name='password' id='password' data-ng-model="user.password" placeholder='Password'>
    <input class="login" type='submit' value='Login'>
</form>
<button class="logout right" data-ng-show="loggedInUser" data-ng-click="logoutUser(user)">Logout</button>
<div class="user right" data-ng-show="loggedInUser" >Welcome {{loggedInUser}}!</div>